.App {
  font-family: sans-serif;
  text-align: center;
}
.open__modal {
  position: relative;
  margin: 10% 20%;
  background-color: white;
  justify-content: center;
  opacity: 1;
  border: 1px solid black;
}
.form {
  background-color: white;
}
.data {
  color: black;
  background-color: rgb(226, 226, 226);
}
.msg {
  color: red;
}
.form__obj {
  display: flex;
  color: black;
  justify-content: center;
}
label {
  color: black;
  width: 30%;
}
.open {
  color: black;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  z-index: 1;
  justify-items: center;
  position: absolute;
}
